@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 33% 95%; /* #EEF1F6 */
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 213 69% 43%; /* #2266B9 */
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 254 52% 29%; /* #362472 */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 46%; /* #C0392B */
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.75rem;

    --chart-1: 213 69% 43%;
    --chart-2: 145 100% 22%; /* #00703C */
    --chart-3: 38 92% 50%;  /* #F39C12 */
    --chart-4: 0 63% 46%;   /* #C0392B */
    --chart-5: 254 52% 29%;

    --sidebar-background: 213 69% 25%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 213 69% 43%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 254 52% 40%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 213 69% 30%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}